<h1>Login</h1>

<ol>
  <% if flash[:error] %>
    ERROR: <%= flash[:error] %>
  <% end %>
</ol>

<%= form_for :session, url: sessions_path  do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit %>
<% end %>

