<h1 class="makecenterabove">Login</h1>
<div class="makecenterpls"> 

<ol>
  <% if flash[:error] %>
    ERROR: <%= flash[:error] %>
  <% end %>
</ol>

<%= form_for :session, url: sessions_path  do |f| %>
  <%= f.label "Email:" %>
  <%= f.text_field :email %>
  <%= f.label "Password:" %>
  <%= f.password_field :password %>
  <%= f.submit value: "Login" %>
<% end %>
</div>
