<%= button_to "Back to Artists", artists_path, method: :get%>
<h1> <%= @artist.name %> </h1>
<br><br><hr>
<ul>
    <% if @forsale == true %>
        <%= button_to "All Artwork", artist_path, method: :get %> <br>
        <h2><%= "#{@forsale_artwork.count} Artworks by #{@artist.name} up for sale! " %> </h2>
        
        <% @forsale_artwork.each do |a| %><br>
            <img src='<%=a.img_url %>' style='height:500px; width:auto;'><br><br>
            Title: <%= link_to a.title, a%><br>
            Price: <%= number_to_currency(a.price) %><br><br>
            <% end %>
    <% else %>
        <%= button_to "View Artworks for Sale", artist_path, method: :get, name: "forsale"%> <br>
        <h2><%= "All Artworks by #{@artist.name}!" %> </h2>
        <% @artist.artworks.each do |a| %><br>
            <img src='<%=a.img_url %>' style='height:500px; width:auto;'><br><br>
            Title: <%= link_to a.title, a%><br>
            Price: <%= number_to_currency(a.price) %><br><br>
            <% end %>
    <% end %>
</ul>
