<%= button_to "Back to Artists", artists_path, method: :get%>
<h1> <%= @artist.name %> </h1>

<% @artist.artworks.each do |a| %>
Title: <%= link_to a.title, a %><br>
<hr>
<%= link_to a do %>
  <%= image_tag a.img_url, style: 'height:500px; width:auto' %><br><br>
  <% end %>
<% end %>