<% if flash[:errors] %>
  <% flash[:errors].each do |error|%>
    ERROR: <%= error %><br>
    <% end %>
<% end %>
<br>

<%= form_for @artwork do |f| %>

<%= f.label :title %>
<%= f.text_field :title %><br>
<br>
<%= f.label :img_url %>
<%= f.text_field :img_url %><br>
<br>
<%= f.label :price %>
<%= f.number_field :price %><br>
<br>
<%= f.label :for_sale %>
<%= f.check_box :for_sale%><br><br>

<%= f.label :artist %>
<%#= f.collection_select :artist_id, Artist.all, :id, :name, prompt: "Existing Artists"%>
<%= f.text_field :artist, list: 'artists' %>
    <datalist id="artists">
   <% Artist.all.each do |a| %>
      <option> <%= a.name %> </option>
      <% end %>
    </datalist>

<%=  %><br>

<%= f.hidden_field :user_id, value: @current_user.id %><br>

<%= f.label :object_type_id %>
<%= f.collection_select :object_type_id, ObjectType.all, :id, :name, prompt: true%><br>

<br>

<%#  change user to sessions %>
<%= f.submit %>
<% end %>

