<div class="makecenterpls">
<body class="home">
  <div class="main2">
    <p class="sign1" align="center">Add an Artwork!</p>
    <%= form_for @artwork do |f| %>
      <%= f.text_field :title, :class => 'un1', placeholder: 'Title' %>
      <%= f.text_field :img_url, :class => 'un1', placeholder: 'Image URL'  %>
      <%= f.file_field :image, :class => 'un1', placeholder: 'Add Image' %> 
      <%= f.number_field :price, :class => 'un1',placeholder: 'Price'  %>
      <%= f.text_field :artist, list: 'artists', :class => 'un1',placeholder: 'Write or Select an Artist' %>
          <datalist id="artists">
        <% Artist.all.each do |a| %>
            <option> <%= a.name %> </option>
            <% end %>
          </datalist>
      <%= f.hidden_field :user_id, value: @current_user.id %><br> 
      <%= f.label "What type of artwork is this?" %>
      <%= f.collection_select :object_type_id, ObjectType.all, :id, :name, prompt: true, :class => 'un1' %><br>
      <br>
      <%= f.label "Put up for sale?" %>
      <%= f.check_box :for_sale%>
      <br>
      <br>
      <%= f.submit value: "Add Artwork", :class =>'submit2' %>
    <% end %>
  </div>
</body>
</div>
<div class="div-flash">
  <% if flash[:errors] %>
    <% flash[:errors].each do |error|%>
      <center>
      ERROR: <%= error %><br>
      </center>
      <% end %>
  </div>
  <% end %>
<br>


