<% if flash[:error] %>
<%= flash[:error] %>
<% end %>
<br><br>
<%= button_to "View all Artworks", artworks_path, method: :get%>
<h1> <%= @artwork.title %> </h1>
<div class="div-indent">
Artist: <%= link_to @artwork.artist.name, @artwork.artist %><br>
Owned by: <%= link_to @artwork.user.name, @artwork.user %><br>
<br>
<%= image_tag @artwork.img_url, style: 'height:500px; width:auto' %><br><br>
People who like this piece: <%= @artwork.likes_count %>

<% if @current_user %>
<%= button_to "Like", {:controller => "likes", :action => "create", :artwork => @artwork.id} %>
Type: <%= link_to @artwork.object_type.name, @artwork.object_type%><br>
  Price: <%= number_to_currency(@artwork.price) %>

<% if @artwork.for_sale == true && @current_user != @artwork.user %>
  <%# <%= button_to "Buy it now", {:controller => "artworks", :action => "buyit", :artwork => {:art => @artwork.id}} %> 
  <%= button_to "Buy me", buy_path, method: "patch", params: {:artwork_id => @artwork.id}%>
<% end %>

<% end %>

<% if @current_user == @artwork.user %>
<%= button_to "Edit Artwork", edit_artwork_path, method: :get%>
<% end %>
<br>
</div>
