
<div class="makecenterpls"> 
<body class="home">
<div class="main1">
<% if flash[:errors] %>
  <% flash[:errors].each do |error|%>
    ERROR: <%= error %><br>
    <% end %>
<% end %>

<br>

<%= form_for @user do |f| %>

<%= f.label "Email:" %>
<%= f.text_field :email %><br>
<br>
<%= f.label "Password:" %>
<%= f.text_field :password%><br>
<br>
<%= f.label "Name:" %>
<%= f.text_field :name %><br>
<br>
<%= f.label "Location:" %>
<%= f.text_field :location %><br>
<br>
<%= f.label "img_url:" %>
<%= f.text_field :img_url%><br>
<br>
<%= f.label "Balance:" %>
<%= f.number_field :balance %><br>
<br>
<%= f.label "Bio:" %>
<%= f.text_area :bio%><br>
<br>

<%= f.submit %>
<% end %>
</div>
<body>
</div>