<div class="stayonpage" >
<%# profile info - stickied %>
   <center> 
      <h2><%= @user.name.titleize %>'s Gallery</h2> <br>

      <img width=200px height=auto src='<%=@user.img_url%>'><br> <br>
      <% if @user == @current_user %>

         <%= link_to "Add Artwork", new_artwork_path, :class => "styledlink"%> <br>
         <%= link_to "Edit Account", edit_user_path,:class => "styledlink" %><br>

         Current Balance: <%= number_to_currency(@user.balance) %><br>
      <% end %>

      <h3>Collection Value: <%= number_to_currency(@user.current_gallery_value) %></h3>
      Total Collection Likes: <%= @user.total_likes %> <br> <br>
      About me: <%= @user.bio %><br> 
   </center>

</div>
<%# end stickied info  %>

   <% if @forsale == true %>
      <h2><%= "#{@forsale_artwork.count} Artworks for Sale!"  %></h2>
      <%= button_to "Click here to view all of #{@user.name}'s owned Artworks", user_path, method: :get, class:"blackbutton"%></<br><br>
      <br><br><br><br>

   <div id="index-container2">
      <% @forsale_artwork.each do |artwork| %>
         <div class="index-tile" >
            <% if artwork.image.attached? %>
               <%= image_tag(artwork.image)%>
            <% else %>
               <img src="<%= artwork.img_url %>"><br> 
            <% end %> 
            <center><p>Artwork has - <%= pluralize(artwork.likes.count,"Like") %> </p></center>
            <a class="styledlink", href=<%="/artworks/#{artwork.id}"%>>Title - <%=artwork.title%></a> <br>
            <a class="styledlink", href=<%="/object_types/#{artwork.object_type.id}"%>>Category - <%=artwork.object_type.name%></a><br>     
            <a class="styledlink", href=<%="/artists/#{artwork.artist.id}"%> >Artist - <%=artwork.artist.name%></a> <br>
            <center> <p>Price: <%= number_to_currency(artwork.price) %></p> </center>
            <br>
         </div>
      <% end %>
   </div>

   <% else %>   

   <h2><%= "#{@user.artworks.count} Artworks On Display"  %></h2>
   <%= button_to "Click here to view Artworks #{@user.name} has up for Sale", user_path, method: :get, name: "forsale", class:"blackbutton"%><br>
   <br><br><br><br>
      
      <div id="index-container2">
         <% @user.artworks.each do |artwork| %>
            <div class="index-tile">
                  <% if artwork.image.attached? %>
                     <%= image_tag(artwork.image)%>
                  <% else %>
                     <img src="<%=  artwork.img_url %>"><br> 
                  <% end %>
               <center>
                  <p>Artwork has - <%= pluralize(artwork.likes.count,"Like") %> </p>
               </center>
               <a class="styledlink", href=<%="/artworks/#{artwork.id}"%>>Title - <%=artwork.title%></a> <br>
               <a class="styledlink", href=<%="/object_types/#{artwork.object_type.id}"%>>Category - <%=artwork.object_type.name%></a><br>     
               <a class="styledlink", href=<%="/artists/#{artwork.artist.id}"%> >Artist - <%=artwork.artist.name%></a> <br>
               <center> <p>Price: <%= number_to_currency(artwork.price) %></p> </center>
               <br>
            </div>
         <% end %>
   <% end %>

 