<div class="stayonpage" >
 
<h2><%= @user.name.titleize %>'s Gallery</h2> <br>

<img width=200px height=auto src='<%=@user.img_url%>'><br>
<% if @user == @current_user %>
<%= link_to "Add Artwork", new_artwork_path %> <br>
<%= link_to "Edit Account", edit_user_path, method: :get %><br>
Balance: <%= number_to_currency(@user.balance) %><br>
<% end %>
<h3>Collection Value: <%= number_to_currency(@user.current_gallery_value) %></h3>
Total Collection Likes: <%= @user.total_likes %> <br>
About me: <%= @user.bio %><br>
</div>


<ul>
    <% if @forsale %>
        <%= button_to "All Artwork", user_path, method: :get, class:"blackbutton" %> <br><br>
        <% @forsale_artwork.each do |a| %><br>
            <img src='<%=a.img_url %>' style='height:500px; width:auto;'><br><br>
            Title: <%= link_to a.title, a%><br>
            Price: <%= number_to_currency(a.price) %><br><br>
            <% end %>
    <% else %>
        <%= button_to "View Artworks for Sale", user_path, method: :get, name: "forsale", class:"blackbutton"%>
        <% @user.artworks.each do |a| %><br>
            <img src='<%=a.img_url %>' style='height:500px; width:auto;'><br><br>
            Title: <%= link_to a.title, a%><br>
            Price: <%= number_to_currency(a.price) %><br><br>
            <% end %>
    <% end %>
</ul>

 