<!DOCTYPE html>
<html></html>
  <head>
    <title>POSH</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
<body>
<ul class="menu-bar">
 <li class="active"><a href="/">POSH</a></li>
 <li class="dropdown"><a href="#">Galleries</a>
  <ul class="dropdown-content">
   <li><a href="/users">User Galleries</a></li>
   <li><a href="/artworks">Artwork Gallery</a></li>
   <li><a href="/artists">Artists</a></li>
   <li><a href="/object_types">Artwork Categories</a></li>
   </ul>
   </li>
  <% if @current_user %>
 <li style= "float:right;"><a data-method='delete', href="/sessions">LOG OUT</a></li>
 <li style= "float:right;"><a href=<%=%"/users/#{@current_user.id}"%>>PROFILE</a></li>
  <% else  %>
 <li style= "float:right;"><a href="/sessions/login">LOGIN</a></li>  
 <li style= "float:right;"><a href="/users/new">REGISTER</a></li>
 <% end %>
</ul>
<br> 
<br> 
<br>
<%= yield %>
</body>

</html>
